<nav>
  <div class="nav-wrapper blue-grey darken-4">
    <a href="/" class="brand-logo center" style="margin-left:10px; font-size:60px;">На Закате</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {{#if user}}
        {{!-- <li><a href="/">Главная</a></li> --}}
        <li><a href="/auth/logout">Выйти ({{user.username}})</a></li>
      {{else}}
        <li><a href="/auth/login">Войти</a></li>
      {{/if}}
    </ul>
  </div>
</nav>
