<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8"/>
  <title>{{title}}</title>
  <!-- Materialize CSS (CDN) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
  <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
  {{> nav }}

  <div class="container">
    <!-- Кнопка "Назад" (работает через JS history.back()) -->
    {{#if user}}
      <div>
        <a href="javascript:history.back()" class="btn grey">Назад</a>
      </div>
      <br/>
    {{/if}}

    {{{ body }}}
  </div>

  <!-- Materialize JS (CDN) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>
